.container {
    padding: 3rem 1rem;
    text-align: center;
  }
  
  .title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: var(--text-color);
  }
  
  .message {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .inputGroup {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 200px;
  }
  
  .button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #0070f3;
    border: none;
    color: white;
    border-radius: 4px;
  }
  
  .button:hover {
    background-color: #005ecb;
  }
  
  .error, .checking {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .error {
    color: red;
  }

  .checking {
    color: green;
  }


  