#search input {
  outline: none;
  position : relative;
  width : 100%;
  top : 0;
  left : 0;
  min-height: 40px;
}

#search {
  position: relative;
  width : 100%;
  min-height : 40px;
}

#suggestions ul {
  display: flex;
  padding : 10px;
}

#suggestions ul > li {
  display: inline-block;
  background-color: var(--grayscale);
  padding : 5px;
  margin : 5px;
  border-radius: 3px;
}

#button {
  background-color: var(--grayscale);
  padding : 5px;
  margin : 5px;
  border-radius: 3px;
}
