@import "base/font.css";
@import "base/util.css";
@import "base/module.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin :0;
  padding : 0;
  box-sizing: border-box;
  text-decoration : none;
}

.hidden {display:none;}

a, a:visited { all : unset;}



body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

p {font-family : 'Mulish', sans-serif;}

ul li {position : relative;}

h1 {
  display:inline-block;
  margin : 10px 0;
}

#content {
  margin : 0 20%;
  margin-top : 100px;
  overflow-y: auto;
  position : relative;
  justify-content: center;
  border-radius: 5px;
  font-family: 'Varela', sans-serif;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

//Small devices (landscape phones, 576px and up)
@media all and (max-width : 767px) {
}

// Medium devices (tablets, 768px and up)
@media all and (max-width : 991px) {
 }

// Large devices (desktops, 992px and up)
@media all and (max-width : 1199px) {
 }

// X-Large devices (large desktops, 1200px and up)
@media all and (max-width : 1399px) {
}

// XX-Large devices (larger desktops, 1400px and up)
