
#index td {
  min-width : 70px;
  border-bottom : 2px var(--primary) solid;
  text-align: center;
}

table {
  display :inline-table;
  text-align: center;
  width : 100%;
}

td:nth-child(4n-2) {
  width : 60%;
  text-align : left;
  padding : 0 1%;
}

table tr.rows, table tr.rows .summary {
  transition : all 0.3s ease-in-out;
}

table tr.rows:hover {
  background-color : var(--grayscale);
}

table tr.rows:hover .summary {
  color : var(--secondary);
}

button {
  float : right;
}
