.head .material-icons {
  font-size: 2em;
  float : right;
  margin-left: 10px;
}

.material-icons:hover {
  cursor: pointer;
  color : var(--accent);
}


#content {
  margin : 0 20%;
  margin-top : 100px;
  position : relative;
  border-radius: 5px;
  padding : 5%;
}

#md {
  padding : 15px;
  white-space: pre-wrap;
}

.clearbox {
  clear : both;
}


#writer {
  display : inline-block;
  float : left;
}

#last-update {
  display : inline-block;
  margin-left: 10px;
  float : left;
}
