th {
  border-bottom : 2px var(--primary) solid;
  text-align: center;
}

table {
  display :inline-table;
  text-align: center;
  width : 100%;
}

td:nth-child(2) {
  text-align : left;
  padding : 0 1%;
  width :auto;
  max-width : 200px;
}

table tr.rows, table tr.rows .summary {
  transition : all 0.3s ease-in-out;
}

table tr.rows:hover {
  background-color : var(--grayscale);
}

table tr.rows:hover .summary {
  color : var(--secondary);
}

button {
  float : right;
}

tr .summary {
  color : var(--grayscale);
  overflow-wrap : break-word;
}



// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }
