th {
  border-bottom : 2px var(--primary) solid;
  text-align: center;
}

table {
  display :inline-table;
  text-align: center;
  width : 100%;
}

td:nth-child(2) {
  text-align : left;
  width :auto;
  width : 40%;
  max-width : 150px;
}

table tr.rows, table tr.rows .summary {
  transition : all 0.3s ease-in-out;
}

table tr.rows:hover {
  background-color : var(--grayscale);
}

table tr.rows:hover .summary {
  color : var(--secondary);
}

button {
  float : right;
}

tr .summary {
  color : var(--grayscale);
  overflow-wrap : break-word;
}

tr {
  font-size: var(--normal-size);
}


@media (min-width : 576px) and (max-width :767px) {
}

@media (min-width : 768px) and (max-width :991px) { }

@media (min-width : 992px) and (max-width :1199px) {  }

@media (min-width : 1200px) and (max-width :1399px) {  }

@media (min-width : 1400px) {  }
