
.space_box#vw15 {
  content : ""
  visibility: hidden;
  position : relative;
  width : 15vw;
  max-width: 150px;
}

.left {
  z-index : 0;
  font-family: 'Varela', sans-serif;
  color : white;
  position : relative;
  display: flex;
  font-size: 70px;
  height : 100%;
  min-height: 100%;
  width : 40%;
  align-items : center;
  justify-content: center;
  background-color : #E0A467;
}
