* {
  margin :0;
  padding : 0;
  text-decoration : none;
  font-family: 'Roboto', sans-serif;
}
a:visited {color : inherit;}
html {
  height: 100%;
}
body {
  height : 100%;
  min-height: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

p {
  font-family : font-family: 'Mulish', sans-serif;
}
/* loading screen is deprecated*/
/*
#loading {
  display : flex;
  position : absolute;
  background-color: #E0A467;
  z-index : 1000;
  top : 0;
  left : 0;
  width : 100vw;
  height : 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0.5em 10px white;
}

#loading::before {
  content : "blog of";
  font-size: 30px;
  display: inline-block;
  margin-right: 10px;
  text-align: left;
  transition : all 1s ease-in-out 1s;
  transform: translate(-100%, 70%);
}

#loading.active::before {
  transform : translate(0%, 70%);
}

#loading::after {
  content :"2ood";
  font-size: 100px;
  transition : all 1s ease-in-out 1s;
  transform: translateX(50%);
}

#loading.active::after {
  transform : translate(0);
}

#loading.done {
  opacity: 0;
  transition : all 1s ease;
}
*/

#logined {
  display:none;
}

ul li {position : relative;}

h1 {display:inline-block;}

.top_bar {
  background-color: #00000000;
  color : #E0A467;
  position : fixed;
  z-index : 10;
  width : 100vw;
  top : 0;
}

.logo_bar {
  display: flex;
  position : relative;
  justify-content: space-between;
  align-items: center;
  padding : 10px 10%;
  text-align: center;
  height : 50px;
  align-self: center;
}
.logo {
  position :relative;
  color : white;
}
/* search bar is deprecated*/
/*
input#top_search {
  padding: 5px;
  position:relative;
  bottom:0;
  background-color: inherit;
  border: none;
  outline : none;
  float:left;
}
.search {
  position : relative;
  vertical-align: middle;
}
.material-icons#search {
  position : relative;
  display: inline-block;
  bottom:0;
}
*/
.space_box#vw15 {
  content : ""
  visibility: hidden;
  position : relative;
  width : 15vw;
  max-width: 150px;
}


.underline::before {
  content : ' ';
  position : absolute;
  background-color: #E0A467;
  top:26px;
  left:0;
  width:0%;
  height :2px;
  transition: width 0.3s ease-out;
}

.underline:hover::before {
  width:100%;
}

.underline:hover::after {
  width:100%;
}

.log_status {
  display : inline-block;
  width : 140px;
}

.log_status ul {
  display : flex;
  justify-content: space-between;
}

.log_status ul li {
  display : inline-block;
}

.nav_bar {
  display : inline-block;
  position : relative;
  width : 300px;
}


.nav_bar ul {
  display : flex;
  position :relative;
  width : 100%;
  justify-content: space-between;

}
.nav_bar ul li {
  display : inline-block;
}


.left {
  z-index : 0;
  font-family: 'Varela', sans-serif;
  color : white;
  position : relative;
  display: flex;
  font-size: 70px;
  height : 100%;
  min-height: 100%;
  width : 40%;
  align-items : center;
  justify-content: center;
  background-color : #E0A467;
}

footer {
  display : block;
  float : right;
  position: absolute;
  bottom : 10px;
  right : 10%;
  align-items: center;
  justify-content: center;
  text-align: right;
  line-height: 1.5em;
  height : 100px;
  color : gray;
}

footer a:hover {
  text-decoration: underline;
}
