@import "base/colors.css";
@import "base/font.css";
@import "base/util.css";
@import "base/module.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin :0;
  padding : 0;
  box-sizing: border-box;
  text-decoration : none;
}
.hidden{display:none;}
a, a:visited {color :inherit; }
html {height: 100%;}
body {
  height : 100%;
  min-height: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

p {font-family : 'Mulish', sans-serif;}

ul li {position : relative;}

h1 {
  display:inline-block;
  margin-bottom : 10px;
}

#content {
  margin : 0 20%;
  margin-top : 100px;
  position : relative;
  justify-content: center;
  border-radius: 5px;
  padding : 5%;
  font-family: 'Varela', sans-serif;
}
