@import "base/colors.css";
@import "base/font.css";
@import "base/util.css";
@import "base/module.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin :0;
  padding : 0;
  box-sizing: border-box;
  text-decoration : none;
  font-family: 'Roboto', sans-serif;
}
.hidden{display:none;}
a, a:visited {color :inherit; }
html {height: 100%;}
body {
  height : 100%;
  min-height: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

p {font-family : 'Mulish', sans-serif;}

ul li {position : relative;}

h1 {display:inline-block;}

#top_bar {
  background-color: var(--transparent);
  color : var(--primary);
  position : fixed;
  z-index : 10;
  width : 100vw;
  top : 0;
} /* wrapper for top bar sticked to the top, following scroll*/

#top_bar .space_box#vw10 {
  content : ""
  visibility: hidden;
  position : relative;
  width : 10vw;
  max-width: 150px;
}

.logo_bar {
  display: flex;
  position : relative;
  justify-content: space-between;
  align-items: center;
  padding : 10px 10%;
  text-align: center;
  height : 50px;
  align-self: center;
}
.logo {
  position :relative;
  color : var(--secondary);
  text-shadow : -1px 0 var(--primary), 0 1px var(--primary), 1px 0 var(--primary), 0px -1px var(--primary);
}

.log_status {
  display : inline-block;
  width : 140px;
}

.log_status ul, .nav_bar ul{
 display : flex;
 position :relative;
 width : 100%;
 justify-content: space-between;

}

.log_status ul li, .nav_bar ul li {
  display : inline-block;
}

.nav_bar {
  display : inline-block;
  width : 300px;
}

#to_top {
  background-color: var(--primary);
  position : fixed;
  display:flex;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  bottom : 7%;
  right : 5%;
  width : 50px;
  height : 50px;
  box-shadow : 0 5px 5px var(--primary);
  transition : all .3s ease-in-out;
}
#to_top:hover {
  background : var(--accent);
  cursor: pointer;
}
