
#content {
  margin : 0 20%;
  margin-top : 100px;
  position : relative;
  border-radius: 5px;
  padding : 5%;
}

#md {
  padding : 15px;
  white-space: pre-wrap;
}

.clearbox {
  clear : both;
}


#writer {
  display : inline-block;
  float : left;
}

#last-update {
  display : inline-block;
  float : right;
}
