.slide-div60-div40 {
  height : 100%;
}
.slide-div60-div40 > .first-part {
  height : 60%;
  width : 100%;
  top : 0;
  align-content: flex-start;
  background-color: var(--grayscale);
}
.slide-div60-div40 > .second-part {
  height : 40%;
  padding : 10px;
}

.first-part img {
  height : 100%;
  width : 100%;
}

.second-part * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
