@import "base/font.css";
@import "base/util.css";
@import "base/module.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin :0;
  padding : 0;
  box-sizing: border-box;
  text-decoration : none;
}

.hidden {display:none;}

a, a:visited { all : unset;}

html{
  height : 100%;
}


body {
  position: relative;
  height: auto;
  min-height: 100% !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

p {font-family : 'Mulish', sans-serif;}

ul li {position : relative;}

h1 {
  display:inline-block;
  margin : 10px 0;
}

code {
  background-color: var(--gray-half-transparent);
  display: block;
  padding: 15px;
  border-radius: 3px;
  color: white;
}

#content {
  margin : 0 5%;
  margin-top : 150px;
  position : relative;
  justify-content: center;
  border-radius: 5px;
  font-family: 'Varela', sans-serif;
  height: 100%;
  min-height : 100vh;
}

#content-no-top-marign {
  margin : 0 5%;
  position : relative;
  justify-content: center;
  border-radius: 5px;
  font-family: 'Varela', sans-serif;
  height: 100%;
  min-height : 100vh;
}

@media (min-width: 576px) {
  #content {
    margin : 0 5%;
    margin-top : 150px;
  }
}

@media (min-width: 768px) {
  #content {
    margin : 0 7%;
    margin-top : 160px;
  }
}

@media (min-width: 992px) {
  #content {
    margin : 0 10%;
    margin-top : 170px;
  }
}

@media (min-width: 1200px) {
  #content {
    margin : 0 15%;
    margin-top : 180px;
  }
}

@media (min-width: 1400px) {
  #content {
    margin : 0 20%;
    margin-top : 200px;
  }
}
