#content-profile {
  display : flex;
  margin  : 0 10%;
  margin-top : 100px;
  padding : 5%;
}

.column {
  display : inline-block;
  padding : 20px;
}

.column-left {
  width : 20%
}

.column-right {
  width : 80%;
}

#profile-pic-container {
  width :100%;
  border : 7px var(--grayscale) solid;
  border-radius: 50%;
  margin-bottom : 10px;
  position: relative;
}

#profile-pic-container img {
  width : 100%;
  border : none;
  outline : none;
}


#bio {
  margin-top : 5px;
  display: flex;
  max-width: 100%;
  color : var(--grayscale);
  flex-wrap: wrap;
  word-wrap: break-word;
  overflow: hidden;
}

#profile-nickname {
  font-size : var(--font-size-h6);
}
# {
  position: absolute;
  bottom : 0;
  left : 0;
}

#profile-pic-container label {
  color: var(--primary);
  padding : 3px;
  background-color: var(--secondary);
  cursor: pointer;
  border: 1px var(--primary) solid;
  position: absolute;
  bottom : 0;
  right : 0;
}

input[disabled=""], textarea[disabled=""] {
  outline : none;
  border : none;
  color : black;
  margin : 3px;
}

input, textarea {
  width : 100%;
  outline : none;
  border: none;
  border-bottom: 1px var(--primary) solid;
  color : black;
  margin : 3px;
}

.column-left textarea {
  resize: none;
}

@media (min-width: 576px) {  }

@media (min-width: 768px) { }

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }
