button {
  background-color: var(--secondary);
  border : 1px var(--primary) solid;
  color : var(--primary);
  border-radius: 0;
  padding : 0.5em;
  margin : 3px;
}

button.fill {
  width : calc(100% - 10px);
  height : 3em;
  font-size : 1em;
  margin-bottom : 10px;
}

button.half {
  box-sizing: border-box;
  width : calc(50% - 10px);
  font-size : 1em;
  height : 4em;
  margin-bottom : 10px;
}
button.danger {
  background-color: var(--secondary);
  border : 1px var(--error) solid;
  color : var(--error);
}
button.danger:active {
  background-color: var(--error);
  color : var(--secondary);
}

button:active {
  background-color: var(--primary);
  color : var(--secondary);
}

button:disabled {
  background-color: var(--grayscale);
  color : var(--secondary);
}
