button {
  background-color: var(--primary);
  border : none;
  border-radius: 0;
  padding : 0.5em;
  margin : 3px;
}

button.fill {
  width : 100%;
  height : 4em;
  font-size : 1em;
  margin-bottom : 10px;
}

button.half {
  box-sizing: border-box;
  width : calc(50% - 10px);
  font-size : 1em;
  height : 4em;
  margin-bottom : 10px;
}

button:active {
  background-color: var(--accent);
  color : var(--primary);
}

button:disabled {
  background-color: var(--grayscale);
  color : var(--secondary);
}
