.slide-button {
  width : calc(50% - 200px);
  height : 100%;
  padding : 0 20px;
  position : absolute;
  display : flex;
  top : 0;
  bottom : 0;
  align-items: center;
  z-index : 10;
  transition: all .3s ease-in-out;
  color : white;
  font-weight: bold;
  vertical-align: middle;
  font-size: var(--font-size-h4);
}


.slide-button[name="left"] {
  left : 0;
  justify-content: flex-start;
  background: linear-gradient(to right, var(--gray-half-transparent), 20%, transparent, 50%, transparent);
}

.slide-button[name="right"] {
  right : 0;
  justify-content: flex-end;
  background: linear-gradient(to left, var(--gray-half-transparent), 10%, transparent, 50%, transparent);
}

.slide-popout-container {
  text-align: center;
  display: flex;
  flex-direction : row;
  flex-wrap : nowrap;
  /* flex-flow : row nowrap; */
  position: relative;
  justify-content: center; /*main axis */
  align-items: center;
  flex-grow:
  /*align-content : center */ /* cross axis*/
  margin : 0;
  height : 100%;
}

.slide-popout-container > ul {
  list-style: none;
  display : flex;
  align-content: center;
  justify-content: center;
  height : 100%;
  width : 100%;
}

.slide-popout-container > ul > li {
  align-self: center;
  position : relative;
  transition: all .3s ease-in-out;
  width :0;
  height : 0;
  margin :0;
  overflow: hidden;
  border : none;
}

.slide-popout-container > ul > .show {
  width : 25%;
  height : calc(70%);
  margin : 0 10px;
  border : 1px black solid;
}
.slide-popout-container > ul > .current {
  width : 30%;
  height : calc(100%);
  margin : 0 5px;
}

.clearbox {
  clear : both;
}

.list-container-600 {
  height : 600px;
}
