@import "../base/colors.css";

#top_bar {
  background-color: var(--transparent);
  color : var(--primary);
  position : fixed;
  z-index : 10;
  width : 100vw;
  top : 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 10px 10%;
  height : 50px;
} /* wrapper for top bar sticked to the top, following scroll*/

#top_bar .space_box#vw10 {
  content : ""
  visibility: hidden;
  position : relative;
  width : 10vw;
  max-width: 150px;
}

#profilePic-container {
  height : 40px;
  width : 40px;
  display: inline-block;
  position: relative;
}

#profilePic {
  width : 100%;
  height : 100%;
}

.logo {
  position :relative;
  color : white;
  text-shadow : -1px 0 var(--primary), 0 1px var(--primary), 1px 0 var(--primary), 0px -1px var(--primary);
}

.log_status {
  display : inline-block;
  width : 20%;
  max-width : 150px;
  min-width : 125px;
  align-items: center;
}

.nav_bar > ul {
 display : flex;
 position :relative;
 width : 100%;
 justify-content: space-between;
}

.nav_bar > ul ul{
 position :absolute;
 top : 2em;
 justify-content: space-between;
 transition : all 0.3s ease-in-out;
}

.log_status ul {
  display : flex;
  position :relative;
  width : 100%;
  justify-content: space-between;
}

.log_status ul li, .nav_bar ul li {
  display : flex;
  align-items : center;
}

.nav_bar {
  display : inline-block;
  width : 300px;
}

#menu {
  display : none;
}



@media (max-width : 750px) {
  .nav_bar > ul{
  display : none;
  }

  #menu {
    margin-left: 10px;
    display : inline-block;
    color : var(--primary);
  }

  #top_bar {
    text-align: right;
    padding : 10px 5%;
  }
}
