.underline::before {
  content : ' ';
  position : absolute;
  background-color: var(--primary);
  top: 50%;
  left:0;
  width:0%;
  height :2px;
  transform: translateY(1em);
  transition: width 0.3s ease-out;
}

.underline:hover::before {
  width:100%;
}

.underline:hover::after {
  width:100%;
}
